<html>
  <head>
    <title>Simple Bandwidth Scanner (sbws)</title>
  </head>
  <body>
    <h1>Simple Bandwidth Scanner</h1>
    <p>
      This service hosts a Tor bandwidth scanner
      (<a href="{{ sbws_gitweb }}">sbws</a>).
    </p>
  </body>
</html>
